{% extends 'base.html' %}
{% load static %}
{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>About</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>About</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right">
            <h2>BraveBull Forex</h2>
            <h3>International Traders / Expert Traders / Market Analysts📈📊 Track your favorite Pairs and get real time daily updates.</h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
            <p>
             Through our Transperancy,Professionalism, Integrity We are able to offer all our prospects the ability to never be caught off guard again when there are changes and volatility in the markets.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> We condact business with transperancy</li>
              <li><i class="ri-check-double-line"></i> Professional Traders</li>
              <li><i class="ri-check-double-line"></i> The trueness of forex marketing </li>
            </ul>
            <p class="fst-italic">
              Time to say good-bye to the major hedge funds which always had the resources to make expert trades however leaving everyone else at a risk of losing or rather at a great disadvantage.We can now refer to this an history however, because BraveBull Forex has turned tables and all changed.We have managed to change this due to our so clear mission which is to provide convenience and peace of mind to our prospects.From beginners to experts. Cutting down on losses, generating trade ideas, and alerting you of news that impacts the market, our platform puts it all at your fingertips..
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Our <strong>Team</strong></h2>
          <p>A team is a group of people who work together to achieve a common goal. The teams define membership (whether large or small) and the set of activities in which they participate. People in a team collaborate on a set of related tasks needed to accomplish a goal.</p>
        </div>

         <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up">
              <div class="member-img">
                <img src="assets/img/slide/slide-1.jpeg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Fortunate M</h4>
                <span>Chief Executive Officer</span>
              </div>
            </div>
          </div>


         
    </section><!-- End Our Team Section -->


  </main><!-- End #main -->

 <!-- ======= Footer ======= -->
 {% endblock content %}